@import './iconImage.styl'

.r-mt20 {
    margin-top: 20px;
}
.r-mb20 {
    margin-bottom: 20px;
}
.r-ml20 {
    margin-left: 20px;
}
.r-mr20 {
    margin-right: 20px;
}
.r-mt10 {
    margin-top: 10px;
}
.r-pt20 {
    padding-top: 20px;
}
.r-pb20 {
    padding-bottom: 20px;
}
.r-pl20 {
    padding-left: 20px;
}
.r-pr20 {
    padding-right: 20px;
}
.r-pr10 {
    padding-right: 10px;
}
.r-flex {
    display: flex;
    justify-content:flex-start;
}
.r-row {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.r-between {
    display: flex;
    justify-content: space-between;
}
.r-around {
    display: flex;
    justify-content: space-around;
}
